body {
    background-color: blanchedalmond;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    font-size: 100%;
}

.container-md {
    position: relative;
    background-color: gold;
    width: 100%;
    margin-left: 0%;
}

.btn-group {
    position: absolute;
    bottom: 0px;
    margin-left: 10px;

}

/* .btn {
    background-color: gold;
} */





.main {
    background-color: blue;
    /* text-align: center; */
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
    /* margin-bottom: 30%; */
}

@media screen and (max-width: 900px) {
    .main {
        width: auto;
        background-color: green;
    }
}

#main-container {
    width: auto;
    height: 600px;
    background-color: teal;
    text-align: center;
    padding: 20px 20px 20px 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) { 
    #main-container {
        width: auto;
        flex-direction: column;
    }
}

#headshot {
    width: 75px;
    border-radius: 50%;

}

#display-left {
    width: 140%;
    height: 500px;
    padding-right: 20px;
    word-wrap: break-word;
    overflow-y: auto;
    /* flex: 1; */
    border-color: black;
    border-style: solid;
    border-width: 10px;
}

#display-right {
    width: 100%;
    height: 400px;
    padding-left: 20px;
    word-wrap: break-word;
    overflow: auto;
    /* flex:1; */
    border-color: red;
    border-style: solid;
    border-width: 10px;
}

@media screen and (max-width: 900px) {
    #display-left {
        width: 100%;
        display: inline;
        height: 70%;
        border-color: green;
        border-style: solid;
        border-width: 10px;
    }
}
@media screen and (max-width: 900px) {
    #display-right {
        display: inline;
        height: 40%;
        border-color: purple;
        border-style: solid;
        border-width: 10px;
    }
}

#carouselExampleFade {
    /* margin-left: 20%; */
    width: 550px;
    text-align: center;
    margin: auto;
}

.carousel-inner {
    /* width: 400px;
    height: 600px; */
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img {

    width: 250px;
    height: 400px;
    /* object-fit: cover; */
    margin: auto;
}

/* #carouselExampleFade .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
} */
/* 
.w-100 {
    background-color: black;
    width: 600px;
} */

/* need to fix image sizing in carousel so its universal */